a.navbar-brand {
   
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.container{
    margin-left:20px !important;
    max-width:100% !important;

}
.headerTitle
{
    margin-right:110px;
    margin-left:20px;
    font-weight:bold;
    width:15%;
}
ul li ul li a:hover {
    background-color: #87AFC7 !important;
}